<h1>Summer Reading 2015</h1>
<p>The Bryan+College Station Public Library System has summer programs for all ages.
Our 2014 summer programs have ended. Check back next spring for information about 2015. </p>

<%= link_to "Staff Login", 'staff_pages#home'%>
=======
<%= link_to "Staff Page", home_path %>
<%= link_to "Manger Page",  staffs_path %>
>>>>>>> lgg
