<div class="container-block">
<div class="page-header container-margin-horizon">
    
<h1>
    Bryan College Station Public Library<br/>
    Summer Reading Program
</h1>

</div>
<div class="container-margin-horizon center">
    <h2 style="color: #939393">Connecting you to Summer Reading Program Management System</h2>
    <p style="font-size:2em">Log in with your username and password</p>

    <%= link_to "Staff Log in", login_path, class: "btn btn-lg btn-primary" %>

    <%= link_to "Manager Log in", m_login_path, class: "btn btn-lg btn-primary" %>

</div>
</div>
