<div class="container head">
  <h1>Summer Reading Program</h1>
  <ul id="application-head">
    <li><%= link_to "Home", index_program_path %></li>
    <li><%= link_to "About", '/program/about' %></li>
    <li><%= link_to "Help", help_path %></li>
  </ul>
</div>




<div class="center jumbotron">
  <h1>Homepage for staff</h1>
  
  <h2>
    This is the home page for staff working for summer reading program.
  </h2>
  
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
</div>
  